<section class="footer">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4 pull-left">
                <h3 class="title">Stores</h3>
                <ul>
                    <li><a>Say What?</a></li>
                    <li><a>Roar! Roar!</a></li>
                    <li><a>Say Goodnight</a></li>
                    <li><a>Father Christmas And Me</a></li>
                </ul>
            </div>
            <div class="col-md-4 pull-left">
                <h3 class="title" >Our Site</h3>
                <ul>
                    <li><a>About</a></li>
                    <li><a>press</a></li>
                    <li><a>Careers</a></li>
                    <li><a>Blog</a></li>
                </ul>
            </div>
            <div class="col-md-4 pull-left">
                <h3 class="title" >Support</h3>
                <ul>
                    <li><a>Contact Us</a></li>
                    <li><a>Delivery Info</a></li>
                    <li><a>Returns Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>