
section.footer {
    background: #0587ae;
    height: 350px;
    position: relative;
    bottom: 0px;
    border-bottom: 20px solid #e35c5c;
    padding-top: 80px;
}

section.footer .title {
    color: #f1f1f1;
    font-weight: bold;
}
section.footer ul {
    list-style: none;
    padding-left: 0;
}

section.footer ul li a {
    color: #fff !important;
    font-size: 20px;
}