section.topSlider .BackGround {
    background-image: url("../../assets/theme/image/headerImage-min.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
section.topSlider .slide_text1 {
    top: 250px;
    position: relative;
    float: right;
    right: 0px;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
}

section.topSlider .slide_Btn1 {
    top: 370px;
    position: relative;
    float: right;
    left: 420px;
    font-size: 25px;
}


section.TopBooks {
    margin-top: 50px;
}
.TopBooks .title {
    text-align: center;
}
.TopBooks .row {
    margin: 0px;
}

.SingleBook
{
    height: 400px;
    margin: 8%;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    border-radius: 10px;
}
.book1{
    background: url("../../assets/books/A-min.jpg");
}
.book2{
    background: url("../../assets/books/B-min.jpg");
}
.book3{
    background: url("../../assets/books/C-min.jpg");
}