<div class="mainBoby">
<section class="topSlider">
  <div class="BackGround">
      <div class="container">
          <div class="slide_text1">Personalized books for lovely <br/>children</div>
          <a class="slide_Btn1 btn btn-outline-info  ">Explore Books</a>
      </div>
  </div>
</section>

<section class="TopBooks">
    <h2 class="title"> Top New stores </h2>
    <div class="row">
        <div class="col-md-4">
            <div class="SingleBook book1"></div>
        </div>
        <div class="col-md-4">
            <div class="SingleBook book2"></div>
        </div>
        <div class="col-md-4">
            <div class="SingleBook book3"></div>
        </div>
    </div>
</section>

</div>