.book-cover {
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}


.paginationBox {
    margin-top: 50px;
}
.Cpagination {
    position: relative;
    left: 40%;
}
